<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aster.webcontainer">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
        <activity
            android:name=".WebContainerActivity"
            android:exported="false" />
    </application>

</manifest>